@import 'common/var';

.el-button {
    padding: 8px 12px;
    padding: .5rem .75rem;
    color: $gray;
    background-color: $gray-lighter;
    background-image: none;
    font-size: 14px;
    line-height: 1.17;
    border: none;
    display: inline-block;
    outline: 0;
    cursor: pointer;
    &:hover {
        background-color: darken($gray-lighter, 10%);
    }
    &--text {
        color: $color-primary;
        background-color: transparent;
        &:hover {
            color: darken( $color-primary, 10%);
            background-color: transparent;
        }
    }
    &--primary {
        color: #FFF;
        background-color: $color-primary;
        &:hover {
            background-color: darken( $color-primary, 5%);
        }
    }
    &--succes {
        color: #FFF;
        background-color: $color-succes;
        &:hover {
            background-color: darken( $color-succes, 5%);
        }
    }
    &--info {
        color: #FFF;
        background-color: $color-info;
        &:hover {
            background-color: darken( $color-info, 10%);
        }
    }
    &--warning {
        color: #FFF;
        background-color: $color-warning;
        &:hover {
            background-color: darken( $color-warning, 5%);
        }
    }
    &--danger {
        color: #FFF;
        background-color: $color-danger;
        &:hover {
            background-color: darken( $color-danger, 10%);
        }
    }
    
    &--small{
        padding: 5px 9px;
        padding: .313rem .563rem;
        font-size: 12px;
    }

    &--large{        
        padding: 10px 14px;
        padding: .625rem .875rem;
        font-size: 16px;    
    }

  

    &.is-disabled,
    &.is-disabled:hover,
    &.is-disabled:focus {
        color: $gray-light;
        background-color: $gray-lighter;
        opacity: .8;
        cursor: not-allowed;
    }
    &.is-loading {
        position: relative;
        pointer-events: none;

        &:before{
            pointer-events: none;
            content: '';
            position: absolute;
            left: -1px;
            top: -1px;
            right: -1px;
            bottom: -1px;
            border-radius: inherit;
            background-color: rgba(255,255,255,.45);
        }
    }
    &--text.is-disabled {
        background-color: transparent;
        &:hover {
            background-color: transparent;
        }
    }
    &__icon+span {
        margin-left: 3px;
    }
    &__icon--pos {
        float: right;
        &+span{
            margin-left: 0;
            margin-right: 3px;
        }
    }
}