/*!
Segoe MDL2 icons
Microsoft Guidelines: https://msdn.microsoft.com/en-us/library/windows/apps/jj841126.aspx
*/

@font-face {
  font-family: "Segoe MDL2 Assets";
  src: url('#{$icon-path}/segmdl2.eot?t=1522743280364'); /* IE9*/
  src: url('#{$icon-path}/segmdl2.eot?t=1522743280364#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('#{$icon-path}/segmdl2.woff?t=1522743280364') format('woff'),
  url('#{$icon-path}/segmdl2.ttf?t=1522743280364') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('#{$icon-path}/segmdl2.svg?t=1522743280364#segmdl2') format('svg'); /* iOS 4.1- */
}

[class^="mdl2-"], [class*="mdl2-"] {
  font-family: 'Segoe MDL2 Assets';
}

[class^="mdl2-"]::before, [class*="mdl2-"]::before {
  font-size: 1.8pc;
}

.el-mdl2-heart-legacy::before  { content: '\e006'; } 
.el-mdl2-heart-fill-legacy::before  { content: '\e0a5'; } 
.el-mdl2-heart-broken-legacy::before  { content: '\e007'; } 
.el-mdl2-heart-fill-zero-width-legacy::before  { content: '\e00b'; } 
.el-mdl2-heart-broken-zero-width-legacy::before  { content: '\e00c'; } 
.el-mdl2-rating-star-legacy::before  { content: '\e224'; } 
.el-mdl2-rating-star-fill-legacy::before  { content: '\e0b4'; } 
.el-mdl2-rating-star-fill-zero-width-legacy::before  { content: '\e00a'; } 
.el-mdl2-rating-star-fill-reduced-padding-HTML-legacy::before  { content: '\e082'; } 
.el-mdl2-rating-star-fill-small-legacy::before  { content: '\e0b5'; } 
.el-mdl2-half-star-left::before  { content: '\e7c6'; } 
.el-mdl2-half-star-right::before  { content: '\e7c7'; } 
.el-mdl2-check-mark-legacy::before  { content: '\e001'; } 
.el-mdl2-checkbox-fill-legacy::before  { content: '\e002'; } 
.el-mdl2-checkbox-legacy::before  { content: '\e003'; } 
.el-mdl2-checkbox-indeterminate-legacy::before  { content: '\e004'; } 
.el-mdl2-checkbox-composite-reversed-legacy::before  { content: '\e005'; } 
.el-mdl2-check-mark-zero-width-legacy::before  { content: '\e008'; } 
.el-mdl2-checkbox-fill-zero-width-legacy::before  { content: '\e009'; } 
.el-mdl2-checkbox-composite-legacy::before  { content: '\e0a2'; } 
.el-mdl2-checkbox::before  { content: '\e739'; } 
.el-mdl2-checkbox-composite::before  { content: '\e73a'; } 
.el-mdl2-checkbox-fill::before  { content: '\e73b'; } 
.el-mdl2-checkbox-indeterminate::before  { content: '\e73c'; } 
.el-mdl2-checkbox-composite-reversed::before  { content: '\e73d'; } 
.el-mdl2-check-mark::before  { content: '\e73e'; } 
.el-mdl2-comment-legacy::before  { content: '\e134'; } 
.el-mdl2-favorite-legacy::before  { content: '\e113'; } 
.el-mdl2-unfavorite-legacy::before  { content: '\e195'; } 
.el-mdl2-favorite-star::before  { content: '\e734'; } 
.el-mdl2-favorite-star-fill::before  { content: '\e735'; } 
.el-mdl2-unfavorite::before  { content: '\e8d9'; } 
.el-mdl2-like-legacy::before  { content: '\e19f'; } 
.el-mdl2-dislike-legacy::before  { content: '\e19e'; } 
.el-mdl2-like-dislike-legacy::before  { content: '\e19d'; } 
.el-mdl2-video-legacy::before  { content: '\e116'; } 
.el-mdl2-video::before  { content: '\e714'; } 
.el-mdl2-mail-message-legacy::before  { content: '\e20b'; } 
.el-mdl2-reply-legacy::before  { content: '\e248'; } 
.el-mdl2-favorite-2-legacy::before  { content: '\e249'; } 
.el-mdl2-unfavorite-2-legacy::before  { content: '\e24e'; } 
.el-mdl2-mobile-contact-legacy::before  { content: '\e25a'; } 
.el-mdl2-blocked-legacy::before  { content: '\e25b'; } 
.el-mdl2-typing-indicator-legacy::before  { content: '\e25c'; } 
.el-mdl2-presence-chicklet-video-legacy::before  { content: '\e25d'; } 
.el-mdl2-presence-chicklet-legacy::before  { content: '\e25e'; } 
.el-mdl2-scroll-chevron-left-legacy::before  { content: '\e00e'; } 
.el-mdl2-scroll-chevron-right-legacy::before  { content: '\e00f'; } 
.el-mdl2-scroll-chevron-up-legacy::before  { content: '\e010'; } 
.el-mdl2-scroll-chevron-down-legacy::before  { content: '\e011'; } 
.el-mdl2-scroll-chevron-left-bold-legacy::before  { content: '\e016'; } 
.el-mdl2-scroll-chevron-right-bold-legacy::before  { content: '\e017'; } 
.el-mdl2-scroll-chevron-up-bold-legacy::before  { content: '\e018'; } 
.el-mdl2-scroll-chevron-down-bold-legacy::before  { content: '\e019'; } 
.el-mdl2-back-bttn-arrow-2-0-legacy::before  { content: '\e0c4'; } 
.el-mdl2-back-bttn-arrow-4-2-legacy::before  { content: '\e0a6'; } 
.el-mdl2-back-bttn-mirrored-arrow-2-0-legacy::before  { content: '\e0ad'; } 
.el-mdl2-back-bttn-mirrored-arrow-4-2-legacy::before  { content: '\e0ab'; } 
.el-mdl2-chrome-back::before  { content: '\e830'; } 
.el-mdl2-chrome-back-mirrored::before  { content: '\ea47'; } 
.el-mdl2-arrow-HTML-legacy::before  { content: '\e0d5'; } 
.el-mdl2-arrow-HTML-mirrored-legacy::before  { content: '\e0ae'; } 
.el-mdl2-accept::before  { content: '\e8fb'; } 
.el-mdl2-accounts::before  { content: '\e910'; } 
.el-mdl2-add::before  { content: '\e710'; } 
.el-mdl2-add-friend::before  { content: '\e8fa'; } 
.el-mdl2-admin::before  { content: '\e7ef'; } 
.el-mdl2-align-center::before  { content: '\e8e3'; } 
.el-mdl2-align-left::before  { content: '\e8e4'; } 
.el-mdl2-alignright::before  { content: '\e8e2'; } 
.el-mdl2-all-apps::before  { content: '\e71d'; } 
.el-mdl2-attach::before  { content: '\e723'; } 
.el-mdl2-attach-camera::before  { content: '\e8a2'; } 
.el-mdl2-audio::before  { content: '\e8d6'; } 
.el-mdl2-back::before  { content: '\e72b'; } 
.el-mdl2-back-to-window::before  { content: '\e73f'; } 
.el-mdl2-block-contact::before  { content: '\e8f8'; } 
.el-mdl2-bold::before  { content: '\e8dd'; } 
.el-mdl2-bookmarks::before  { content: '\e8a4'; } 
.el-mdl2-browse-photos::before  { content: '\e7c5'; } 
.el-mdl2-bulleted-list::before  { content: '\e8fd'; } 
.el-mdl2-calculator::before  { content: '\e8ef'; } 
.el-mdl2-calendar::before  { content: '\e787'; } 
.el-mdl2-calendar-day::before  { content: '\e8bf'; } 
.el-mdl2-calendar-reply::before  { content: '\e8f5'; } 
.el-mdl2-calendar-week::before  { content: '\e8c0'; } 
.el-mdl2-camera::before  { content: '\e722'; } 
.el-mdl2-cancel::before  { content: '\e711'; } 
.el-mdl2-caption::before  { content: '\e8ba'; } 
.el-mdl2-c-c::before  { content: '\e7f0'; } 
.el-mdl2-cellphone::before  { content: '\e8ea'; } 
.el-mdl2-characters::before  { content: '\e8c1'; } 
.el-mdl2-clear::before  { content: '\e894'; } 
.el-mdl2-clear-selection::before  { content: '\e8e6'; } 
.el-mdl2-close-pane::before  { content: '\e89f'; } 
.el-mdl2-cloud::before  { content: '\e753'; } 
.el-mdl2-comment::before  { content: '\e90a'; } 
.el-mdl2-contact::before  { content: '\e77b'; } 
.el-mdl2-contact-2::before  { content: '\e8d4'; } 
.el-mdl2-contact-info::before  { content: '\e779'; } 
.el-mdl2-contact-presence::before  { content: '\e8cf'; } 
.el-mdl2-copy::before  { content: '\e8c8'; } 
.el-mdl2-crop::before  { content: '\e7a8'; } 
.el-mdl2-cut::before  { content: '\e8c6'; } 
.el-mdl2-delete::before  { content: '\e74d'; } 
.el-mdl2-directions::before  { content: '\e8f0'; } 
.el-mdl2-disable-updates::before  { content: '\e8d8'; } 
.el-mdl2-disconnect-drive::before  { content: '\e8cd'; } 
.el-mdl2-dislike::before  { content: '\e8e0'; } 
.el-mdl2-dock-bottom::before  { content: '\e90e'; } 
.el-mdl2-dock-left::before  { content: '\e90c'; } 
.el-mdl2-dock-right::before  { content: '\e90d'; } 
.el-mdl2-document::before  { content: '\e8a5'; } 
.el-mdl2-download::before  { content: '\e896'; } 
.el-mdl2-edit::before  { content: '\e70f'; } 
.el-mdl2-emoji::before  { content: '\e899'; } 
.el-mdl2-emoji-2::before  { content: '\e76e'; } 
.el-mdl2-favorite-list::before  { content: '\e728'; } 
.el-mdl2-favorite-star::before  { content: '\e734'; } 
.el-mdl2-favorite-star-fill::before  { content: '\e735'; } 
.el-mdl2-filter::before  { content: '\e71c'; } 
.el-mdl2-find-legacy::before  { content: '\e11a'; } 
.el-mdl2-flag::before  { content: '\e7c1'; } 
.el-mdl2-folder::before  { content: '\e8b7'; } 
.el-mdl2-font::before  { content: '\e8d2'; } 
.el-mdl2-fontcolor::before  { content: '\e8d3'; } 
.el-mdl2-font-decrease::before  { content: '\e8e7'; } 
.el-mdl2-font-increase::before  { content: '\e8e8'; } 
.el-mdl2-font-size::before  { content: '\e8e9'; } 
.el-mdl2-forward::before  { content: '\e72a'; } 
.el-mdl2-four-bars::before  { content: '\e908'; } 
.el-mdl2-full-screen::before  { content: '\e740'; } 
.el-mdl2-globe::before  { content: '\e774'; } 
.el-mdl2-go::before  { content: '\e8ad'; } 
.el-mdl2-go-to-start::before  { content: '\e8fc'; } 
.el-mdl2-go-to-today::before  { content: '\e8d1'; } 
.el-mdl2-hangup::before  { content: '\e778'; } 
.el-mdl2-help::before  { content: '\e897'; } 
.el-mdl2-hide-BCC::before  { content: '\e8c5'; } 
.el-mdl2-highlight::before  { content: '\e7e6'; } 
.el-mdl2-home::before  { content: '\e80f'; } 
.el-mdl2-import::before  { content: '\e8b5'; } 
.el-mdl2-import-all::before  { content: '\e8b6'; } 
.el-mdl2-important::before  { content: '\e8c9'; } 
.el-mdl2-italic::before  { content: '\e8db'; } 
.el-mdl2-keyboard-classic::before  { content: '\e765'; } 
.el-mdl2-leave-chat::before  { content: '\e89b'; } 
.el-mdl2-library::before  { content: '\e8f1'; } 
.el-mdl2-like::before  { content: '\e8e1'; } 
.el-mdl2-like-dislike::before  { content: '\e8df'; } 
.el-mdl2-link::before  { content: '\e71b'; } 
.el-mdl2-list::before  { content: '\ea37'; } 
.el-mdl2-location::before  { content: '\e81d'; } 
.el-mdl2-mail::before  { content: '\e715'; } 
.el-mdl2-mail-fill::before  { content: '\e8a8'; } 
.el-mdl2-mail-forward::before  { content: '\e89c'; } 
.el-mdl2-mail-reply::before  { content: '\e8ca'; } 
.el-mdl2-mail-reply-all::before  { content: '\e8c2'; } 
.el-mdl2-manage::before  { content: '\e912'; } 
.el-mdl2-map-drive::before  { content: '\e8ce'; } 
.el-mdl2-mappin::before  { content: '\e707'; } 
.el-mdl2-memo::before  { content: '\e77c'; } 
.el-mdl2-message::before  { content: '\e8bd'; } 
.el-mdl2-microphone::before  { content: '\e720'; } 
.el-mdl2-more::before  { content: '\e712'; } 
.el-mdl2-move-to-folder::before  { content: '\e8de'; } 
.el-mdl2-music-info::before  { content: '\e90b'; } 
.el-mdl2-mute::before  { content: '\e74f'; } 
.el-mdl2-new-folder::before  { content: '\e8f4'; } 
.el-mdl2-new-window::before  { content: '\e78b'; } 
.el-mdl2-next::before  { content: '\e893'; } 
.el-mdl2-one-bar::before  { content: '\e905'; } 
.el-mdl2-open-file::before  { content: '\e8e5'; } 
.el-mdl2-open-local::before  { content: '\e8da'; } 
.el-mdl2-open-pane::before  { content: '\e8a0'; } 
.el-mdl2-open-with::before  { content: '\e7ac'; } 
.el-mdl2-orientation::before  { content: '\e8b4'; } 
.el-mdl2-other-user::before  { content: '\e7ee'; } 
.el-mdl2-outline-star-legacy::before  { content: '\e1ce'; } 
.el-mdl2-page::before  { content: '\e7c3'; } 
.el-mdl2-paste::before  { content: '\e77f'; } 
.el-mdl2-pause::before  { content: '\e769'; } 
.el-mdl2-people::before  { content: '\e716'; } 
.el-mdl2-permissions::before  { content: '\e8d7'; } 
.el-mdl2-phone::before  { content: '\e717'; } 
.el-mdl2-phone-book::before  { content: '\e780'; } 
.el-mdl2-pin::before  { content: '\e718'; } 
.el-mdl2-play::before  { content: '\e768'; } 
.el-mdl2-post-update::before  { content: '\e8f3'; } 
.el-mdl2-preview::before  { content: '\e8ff'; } 
.el-mdl2-preview-link::before  { content: '\e8a1'; } 
.el-mdl2-previous::before  { content: '\e892'; } 
.el-mdl2-priority::before  { content: '\e8d0'; } 
.el-mdl2-protected-document::before  { content: '\e8a6'; } 
.el-mdl2-read::before  { content: '\e8c3'; } 
.el-mdl2-redo::before  { content: '\e7a6'; } 
.el-mdl2-refresh::before  { content: '\e72c'; } 
.el-mdl2-remote::before  { content: '\e8af'; } 
.el-mdl2-remove::before  { content: '\e738'; } 
.el-mdl2-rename::before  { content: '\e8ac'; } 
.el-mdl2-repair::before  { content: '\e90f'; } 
.el-mdl2-repeat-all::before  { content: '\e8ee'; } 
.el-mdl2-repeat-one::before  { content: '\e8ed'; } 
.el-mdl2-report-hacked::before  { content: '\e730'; } 
.el-mdl2-reshare::before  { content: '\e8eb'; } 
.el-mdl2-rotate::before  { content: '\e7ad'; } 
.el-mdl2-rotate-camera::before  { content: '\e89e'; } 
.el-mdl2-save::before  { content: '\e74e'; } 
.el-mdl2-save-local::before  { content: '\e78c'; } 
.el-mdl2-scan::before  { content: '\e8fe'; } 
.el-mdl2-select-all::before  { content: '\e8b3'; } 
.el-mdl2-send::before  { content: '\e724'; } 
.el-mdl2-set-lock-screen::before  { content: '\e7b5'; } 
.el-mdl2-set-tile::before  { content: '\e97b'; } 
.el-mdl2-settings::before  { content: '\e713'; } 
.el-mdl2-share::before  { content: '\e72d'; } 
.el-mdl2-shop::before  { content: '\e719'; } 
.el-mdl2-show-BCC::before  { content: '\e8c4'; } 
.el-mdl2-show-results::before  { content: '\e8bc'; } 
.el-mdl2-shuffle::before  { content: '\e8b1'; } 
.el-mdl2-slideshow::before  { content: '\e786'; } 
.el-mdl2-solid-star-legacy::before  { content: '\e1cf'; } 
.el-mdl2-sort::before  { content: '\e8cb'; } 
.el-mdl2-stop::before  { content: '\e71a'; } 
.el-mdl2-street::before  { content: '\e913'; } 
.el-mdl2-switch::before  { content: '\e8ab'; } 
.el-mdl2-switch-apps::before  { content: '\e8f9'; } 
.el-mdl2-sync::before  { content: '\e895'; } 
.el-mdl2-sync-folder::before  { content: '\e8f7'; } 
.el-mdl2-tag::before  { content: '\e8ec'; } 
.el-mdl2-three-bars::before  { content: '\e907'; } 
.el-mdl2-touch-pointer::before  { content: '\e7c9'; } 
.el-mdl2-trim::before  { content: '\e78a'; } 
.el-mdl2-two-bars::before  { content: '\e906'; } 
.el-mdl2-two-page::before  { content: '\e89a'; } 
.el-mdl2-underline::before  { content: '\e8dc'; } 
.el-mdl2-undo::before  { content: '\e7a7'; } 
.el-mdl2-un-favorite::before  { content: '\e8d9'; } 
.el-mdl2-un-pin::before  { content: '\e77a'; } 
.el-mdl2-un-sync-folder::before  { content: '\e8f6'; } 
.el-mdl2-up::before  { content: '\e74a'; } 
.el-mdl2-upload::before  { content: '\e898'; } 
.el-mdl2-video-chat::before  { content: '\e8aa'; } 
.el-mdl2-view::before  { content: '\e890'; } 
.el-mdl2-view-all::before  { content: '\e8a9'; } 
.el-mdl2-volume::before  { content: '\e767'; } 
.el-mdl2-webcam::before  { content: '\e8b8'; } 
.el-mdl2-world::before  { content: '\e909'; } 
.el-mdl2-zero-bars::before  { content: '\e904'; } 
.el-mdl2-zoom::before  { content: '\e71e'; } 
.el-mdl2-zoom-in::before  { content: '\e8a3'; } 
.el-mdl2-zoom-out::before  { content: '\e71f'; } 
.el-mdl2-battery-unknown::before  { content: '\e996'; } 
.el-mdl2-battery-0::before  { content: '\e850'; } 
.el-mdl2-battery-1::before  { content: '\e851'; } 
.el-mdl2-battery-2::before  { content: '\e852'; } 
.el-mdl2-battery-3::before  { content: '\e853'; } 
.el-mdl2-battery-4::before  { content: '\e854'; } 
.el-mdl2-battery-5::before  { content: '\e855'; } 
.el-mdl2-battery-6::before  { content: '\e856'; } 
.el-mdl2-battery-7::before  { content: '\e857'; } 
.el-mdl2-battery-8::before  { content: '\e858'; } 
.el-mdl2-battery-9::before  { content: '\e859'; } 
.el-mdl2-battery-10::before  { content: '\e83f'; } 
.el-mdl2-battery-charging-0::before  { content: '\e85a'; } 
.el-mdl2-battery-charging-1::before  { content: '\e85b'; } 
.el-mdl2-battery-charging-2::before  { content: '\e85c'; } 
.el-mdl2-battery-charging-3::before  { content: '\e85d'; } 
.el-mdl2-battery-charging-4::before  { content: '\e85e'; } 
.el-mdl2-battery-charging-5::before  { content: '\e85f'; } 
.el-mdl2-battery-charging-6::before  { content: '\e860'; } 
.el-mdl2-battery-charging-7::before  { content: '\e861'; } 
.el-mdl2-battery-charging-8::before  { content: '\e862'; } 
.el-mdl2-battery-charging-9::before  { content: '\e83e'; } 
.el-mdl2-battery-charging-10::before  { content: '\ea93'; } 
.el-mdl2-battery-saver-0::before  { content: '\e863'; } 
.el-mdl2-battery-saver-1::before  { content: '\e864'; } 
.el-mdl2-battery-saver-2::before  { content: '\e865'; } 
.el-mdl2-battery-saver-3::before  { content: '\e866'; } 
.el-mdl2-battery-saver-4::before  { content: '\e867'; } 
.el-mdl2-battery-saver-5::before  { content: '\e868'; } 
.el-mdl2-battery-saver-6::before  { content: '\e869'; } 
.el-mdl2-battery-saver-7::before  { content: '\e86a'; } 
.el-mdl2-battery-saver-8::before  { content: '\e86b'; } 
.el-mdl2-battery-saver-9::before  { content: '\ea94'; } 
.el-mdl2-battery-saver-10::before  { content: '\ea95'; }