
@font-face {font-family: "iconfont";
  src: url('#{$icon-path}/iconfont.eot?t=1522743280364'); /* IE9*/
  src: url('#{$icon-path}/iconfont.eot?t=1522743280364#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('#{$icon-path}/iconfont.woff?t=1522743280364') format('woff'),
  url('#{$icon-path}/iconfont.ttf?t=1522743280364') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('#{$icon-path}/iconfont.svg?t=1522743280364#iconfont') format('svg'); /* iOS 4.1- */
}

[class*=" el-icon-"], [class^=el-icon-] {
  font-family:"iconfont" !important;  
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: baseline;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.el-icon-check:before { content: "\e645"; }

.el-icon-close:before { content: "\e646"; }

.el-icon-loading:before { content: "\e64f"; }

.el-icon-roundcheckfill:before { content: "\e656"; }

.el-icon-roundcheck:before { content: "\e657"; }

.el-icon-roundclosefill:before { content: "\e658"; }

.el-icon-roundclose:before { content: "\e659"; }

.el-icon-search:before { content: "\e65c"; }

.el-icon-time:before { content: "\e65f"; }

.el-icon-unfold:before { content: "\e661"; }

.el-icon-comment:before { content: "\e667"; }

.el-icon-back:before { content: "\e679"; }

.el-icon-settings:before { content: "\e68a"; }

.el-icon-top:before { content: "\e69e"; }

.el-icon-right:before { content: "\e6a3"; }

.el-icon-fold:before { content: "\e6de"; }

.el-icon-share:before { content: "\e6f3"; }

.el-icon-down:before { content: "\e703"; }

.el-icon-calendar:before { content: "\e74a"; }

.el-icon-write:before { content: "\e761"; }

.el-icon-add:before { content: "\e767"; }

.el-icon-move:before { content: "\e768"; }

.el-icon-triangledownfill:before { content: "\e79b"; }

.el-icon-triangleupfill:before { content: "\e79c"; }

.el-icon-service:before { content: "\e7dd"; }

.el-icon-bin:before { content: "\e7ed"; }



.el-icon-loading{
  animation: rotating 1s linear infinite;
}

@keyframes rotating {
  0% {
      transform: rotateZ(0)
  }

  100% {
      transform: rotateZ(360deg)
  }
}