.el-input,
.el-textarea {
    width: 100%;
    display: inline-block;
    position: relative;
    font-size: 14px;
    .focus-border {
        box-sizing: border-box;
        position: absolute;
        opacity: 0;
        border-width: 0;
        border-style: solid;
        border-color: $color-primary;
        z-index: 1;
        &.border-1 {
            width: 100%;
            border-top-width: 2px;
            left: 0;
            top: 0;
        }
        &.border-2 {
            width: 100%;
            border-top-width: 2px;
            left: 0;
            bottom: 0;
        }
        &.border-3 {
            height: 100%;
            border-left-width: 2px;
            left: 0;
            top: 0;
        }
        &.border-4 {
            height: 100%;
            border-left-width: 2px;
            right: 0;
            top: 0;
        }
    }
    &--focus .focus-border {
        opacity: 1;
        transition: all .5s;
    }
}

.el-input {
    &--primary &__inner,
    &--primary .focus-border {
        border-color: $color-primary;
    }
    &--succes &__inner,
    &--succes .focus-border {
        border-color: $color-succes;
    }
    &--info &__inner,
    &--info .focus-border {
        border-color: $color-info;
    }
    &--warning &__inner,
    &--warning .focus-border {
        border-color: $color-warning;
    }
    &--danger &__inner,
    &--danger .focus-border {
        border-color: $color-danger;
    }
    &__inner {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        padding: 3px 10px;
        width: 100%;
        height: 32px;
        height: 2rem;
        background-color: #fff;
        background-image: none;
        border: 1px solid #CCC;
        font-size: inherit;
        line-height: 1;
        box-sizing: border-box;
        display: inline-block;
        outline: 0;
    }
    &--disabled &__inner {
        color: $gray-light;
        background-color: $gray-lighter;
        opacity: .8;
        cursor: not-allowed;
    }
    &__icon {
        width: 35px;
        width: 2.188rem;
        height: 100%;
        color: $gray-light;
        text-align: center;
        position: absolute;
        top: 0;
        right: 0;
        &--pre {
            left: 0;
            right: auto;
        }
        &:after {
            content: '';
            height: 100%;
            width: 0;
            display: inline-block;
            vertical-align: middle;
        }
    }
    &__icon+&__inner {
        padding-right: 35px;
        padding-right: 2.188rem;
    }
    &__icon--pre+&__inner {
        padding-left: 35px;
        padding-left: 2.188rem;
        padding-right: 7px;
    }
    &-group {
        line-height: normal;
        display: inline-table;
        width: 100%;
        border-collapse: separate;
        &__prepend,
        &__append {
            color: $gray-light;
            background-color: $gray-lighter;
            vertical-align: middle;
            display: table-cell;
            position: relative;
            border: 1px solid #CCC;
            padding: 0 10px;
            width: 1px;
            white-space: nowrap;
        }
        &__prepend {
            border-right: 0;
        }
        &__append {
            border-left: 0;
        }
    }
    &-group &__inner {
        vertical-align: middle;
        display: table-cell;
    }
    &--small &__inner {
        padding: 2px 5px;
        height: 24px;
    }
    &--large &__inner {
        padding: 6px 12px;
        height: 40px;
    }
}

.el-textarea {
    &__inner {
        padding: 3px 10px;
        width: 100%;
        background-color: #fff;
        border: 1px solid #CCC;
        line-height: 1.5;
        display: block;
        box-sizing: border-box;
        outline: 0;
    }
}