body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.app-dom{
  display:  flex;

}

.app-dom__left,
.app-dom__right{
  height: 100vh;
  flex-flow: column nowrap;  
}

.app-dom__left{
  width: 200px;
  border-right: 1px solid #ccc;
}

.app-dom__right{
  flex-grow:1;
  padding: 15px;
  box-sizing: border-box;
}
